<roundcube:include file="includes/layout.html" />

<h1 class="voice"><roundcube:label name="stalwart_apppasswords.password_created_title" /></h1>

<div class="formcontent">
    <fieldset>
        <legend><roundcube:label name="stalwart_apppasswords.password_created_title" /></legend>
        <roundcube:object name="apppasswordresult" />
    </fieldset>
</div>

<div class="formbuttons">
    <button type="button" class="btn btn-secondary" onclick="parent.rcmail.goto_url('plugin.stalwart_apppasswords')"><roundcube:label name="close" /></button>
</div>

<roundcube:include file="includes/footer.html" />